APP_NAME=InsurancePlatform
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

QUEUE_CONNECTION=sync

PAYMENT_GATEWAY=fake

SENTRY_LARAVEL_DSN=null
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_PROFILES_SAMPLE_RATE=1.0
SENTRY_RELEASE=${APP_NAME}@1.0.0
SENTRY_ENVIRONMENT=${APP_ENV}
