*.log
.DS_Store

.env
.env.*
!.env.example
.env.backup*

.phpactor.json
.phpunit.result.cache
/.phpunit.cache

/.fleet
/.idea
/.nova
/.vscode
/.zed

/auth.json
/node_modules

/public/build
/public/hot
/public/storage

/storage/*.key

Homestead.yaml
Thumbs.db

/vendor/

/frontend/node_modules/
/frontend/.nuxt/
/frontend/.output/
/frontend/dist/

/frontend/.nuxt/
/frontend/.output/
/frontend/dist/
/frontend/.nuxt/
